.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.input-group {
  width: 400px; /* Adjust the width as needed */
}

.input-group-text {
  /* background-color: #f0f0f0; */
  border: none;
  cursor: pointer;
}

/* .input-group-text i {
  color: #666;
} */
